*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{

}

html{
  font-size: 62.5%;
}

.fadeFigure{
  transition: 3s;
  display: inline-block;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  display: inline-block;
  margin-left: 5rem;
  width: 0;
	height: 0;
	border-top: 25px solid #fff;
	border-left: 50px solid #000;
	border-bottom: 25px solid #fff;
}
