*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  background-color: #eeeeee;
}

h1{
  font-size: 1.8rem;
  font-family: serif;
  font-family: 'Questrial', sans-serif;
}

.navbar{
  overflow: hidden;
  background-color: #EDC9AF;
}

.navbar__list{
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0rem;
  padding: 0;
}

.navbar__list__item{
  float: left;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
}

.navbar__list__item__logo{
  height: 5rem;
  width: 5rem;
  margin-left: 2rem
}

.post{
  display: flex;
  justify-content: center;
  align-content: : center;
}

.post__card{
  padding: 2rem;
  overflow: hidden;
  background-color: white;
  margin: 6rem 4rem;
  width: 80vw;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.post__card__profile{
  width: 90%;
  height: 8rem;
}

.post__card__profile__pic{
  width: 6rem;
  height: 6rem;
  float: left;
  margin-right: 2rem;
  border-radius: 5px;
}

.post__card__profile__text{
  font-family: 'Roboto', sans-serif;
  display: block;
}

.post__card__text{
  margin: 2rem 0;
  font-family: 'Roboto', sans-serif;
  font-size: 150%;
}

.text--big{
  font-size: 150%;
  font-weight: 600;
}

.text--small{
  color: grey;
  margin-top: 0.5rem;
}

.post__card__likeComment{
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}

.post__card__likeComment__button{
  margin: 0.5rem;
  width: 50%;
  padding: 1rem;
  border: 3px solid #dddddd;
  background: white;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 150%;
  transition: 0.2s;
}

.post__card__likeComment__button:hover{
  background-color: #dddddd;
  border: 3px solid white;
  cursor: pointer;
}

.post__card__likeComment__button:active{
  background-color: #cccccc;
  border: 3px solid white;
}

.button--liked{
  background-color: #95baf5;
  color: white;
}

.button--liked:hover{
  background-color: #557ab5;
}

.button--noclick{
  color: #dddddd;
}

.button--noclick:hover{
  cursor: no-drop;
  border: 3px solid #dddddd;
  background: white;
}

.post__card__input{
  border: 3px solid #dddddd;
  border-radius: 5px;
  margin: 0.5rem;
  width: 48%;
  height: 11rem;
  float: right;
  font-family: 'Roboto', sans-serif;
  padding: 0.8rem;
  resize: none;
  display: none;
}

.input--show{
  display: block;
}

@media (min-width: 800px) {
  .post__card__profile__pic{
    width: 8rem;
    height: 8rem;
  }

  .post__card{
    width: 40vw;
  }

  h1{
    font-size: 2.4rem;
  }

  .text--big{
    font-size: 200%;
  }

  .text--small{
    font-size: 150%;
  }

  .post__card__text{
    font-size: 175%;
  }
}
